backports.functools-lru-cache==1.6.1
bibtexparser==1.1.0
biom-format==2.1.8
brotlipy==0.7.0
CacheControl==0.12.6
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
cycler==0.10.0
deblur==1.1.0
decorator==4.4.2
defusedxml==0.6.0
DendroPy==4.4.0
emperor==1.0.1
entrypoints==0.3
fastcluster==1.1.26
future==0.18.2
gneiss==0.4.6
hdmedians==0.13
importlib-resources==5.4.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-core==4.6.3
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.3.3
mistune==0.8.4
msgpack==1.0.0
natsort==7.0.1
nbconvert==5.6.1
networkx==2.4
nose==1.3.7
openpyxl==3.1.3
pandas==1.1.4
pandocfilters==1.4.2
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
ptyprocess==0.6.0
Pygments==2.6.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
pytest==6.0.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
q2-alignment==2020.8.0
q2-composition==2020.8.0
q2-cutadapt==2020.8.0
q2-dada2==2020.8.0
q2-deblur==2020.8.0
q2-demux==2020.8.0
q2-diversity==2020.8.0
q2-diversity-lib==2020.8.0
q2-emperor==2020.8.0
q2-feature-classifier==2020.8.0
q2-feature-table==2020.8.0
q2-fragment-insertion==2020.8.0
q2-gneiss==2020.8.0
q2-longitudinal==2020.8.0
q2-metadata==2020.8.0
q2-phylogeny==2020.8.0
q2-quality-control==2020.8.0
q2-quality-filter==2020.8.0
q2-sample-classifier==2020.8.0
q2-taxa==2020.8.0
q2-types==2020.8.0
q2-vsearch==2020.8.0
q2cli==2020.8.0
q2templates==2020.8.0
qiime2==2020.8.0
scikit-bio==0.5.5
scipy==1.5.4
seaborn==0.11.0
Send2Trash==1.5.0
statannot==0.2.3
statannotations==0.4.4
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
tqdm==4.64.1
traitlets==4.3.3
unifrac==0.10.0
venn==0.1.3
webencodings==0.5.1
xlrd==1.2.0
xopen==0.9.0
zipp==3.1.0
